body{
    background-image: url(photo1.jpeg);
    background-repeat: no-repeat;background-size: 1550px 750px;
}
h1{
    color: white;
    font-size: 60px;
}
label{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
input{
    height: 30px;
    width: 260px;
}
button{
    height: 50px;
    width: 150px;
    background-color: blue;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}
p{
    color: violet;
    font-size: 30px;
}